@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Pridi', Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, p, li, ul, h4, div {
  @apply font-pridi;
}

.container {
  min-height: 100vh; /* ความสูงอย่างน้อย 100% ของหน้าจอ */
  position: relative;
}

a {
  text-decoration: none; /* ทำให้ลิงก์ไม่มีเส้นขีดใต้ */
}

* {
  @apply box-border; /* ปรับขนาดกล่องของทุกองค์ประกอบ */
}
